<!-- 
    Citation for the following page:
    Date: 11/2/2023
    Based on sample HTML pages from:
    Source URL: https://canvas.oregonstate.edu/courses/1933532/assignments/9297505?module_item_id=23359472
 -->

<html>
    {{!-- jQuery for deleting rows --}}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <head>
        <title>Cats</title>
        {{!-- <link href="style.css" rel="stylesheet" type="text/css" /> --}}
    </head>

    <body>
        <h1>Cats</h1>
        <a href="/">Home</a> || <a href="/customers">Customers</a> || <a href="/cats">Cats</a> || <a href="/reservations">Reservations</a> || <a href="/services">Services</a> || <a href="/purchased_services">Purchased Services</a> || <a href="/room_types">Room Types</a>        
        <p>&nbsp;</p>
        {{!-- Display table data --}}
        <div class="table">
            <table id="cat-table" border="1" cellpadding="5">
                <caption style="text-align:left"><strong>Browse existing cats:</strong></caption>
                <thead>
                    <tr>
                        <th>Cat ID</th>
                        <th>Customer</th>
                        <th>Cat Name</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    {{#each data}}
                    <tr data-value={{this.cat_id}}>
                        <td>{{this.cat_id}}</td>
                        <td>{{this.customer}}</td>
                        <td>{{this.cat_name}}</td>
                        <td><a href="javascript:void(0);" onclick="moveText([{{this.cat_id}}, '{{this.customer}}', '{{this.cat_name}}'], ['cat_id_update', 'customer_id_update', 'cat_name_update'])">Edit</a></td>
                        <td><a href="javascript:void(0);" onclick="moveText([{{this.cat_id}}, '{{this.cat_name}}'], ['cat_id_delete', 'cat_name_delete'])">Delete</a></td>
                    </tr>
                    {{/each}}
                </tbody>
                <script src="../js/move_text.js"></script>
            </table>
        </div>

        <p>&nbsp;</p>
        
        {{!-- Add Form --}}
        <div class="addform">
            <form id="add-cat-form" method="POST" action="/add-cat-form">
                <fieldset>
                    <legend><strong>Add New Cat</strong></legend>
                    <label for="customer_id"><b>Customer: </b> </label>
                    <select name="customer_id" id="customer_id" required>
                        <option value="" selected></option>
                        {{#each customers}}
                        <option value="{{this.customer_id}}">{{this.customer_dropdown}}</option>
                        {{/each}}
                        </select>
                    <label for="cat_name"><b>Cat Name: </b> </label>
                    <input type="text" id="cat_name" name="cat_name" required>
                </fieldset>
                <input type="submit" value="Submit">
            </form>
        </div>

        {{!-- Update Form --}}
        <div class="updateform" style="display:none">
            <form id="update-cat-form">
                <fieldset>
                    <legend><strong>Update Existing Cat</strong></legend>
                    <p style="display:inline"><b>Cat ID: </b> </p>
                    <p id="cat_id_update" style="display:inline"></p>

                    <label for="customer_id_update"><b>Customer: </b> </label>
                    <select name="customer_id_update" id="customer_id_update" required>
                        <option value="" selected></option>
                        {{#each customers}}
                        <option value="{{this.customer_id}}">{{this.customer_dropdown}}</option>
                        {{/each}}
                        </select>

                    <label for="cat_name_update"><b>Cat Name: </b> </label>
                    <input type="text" id="cat_name_update" name="cat_name_update" required>
                </fieldset>
                <input type="submit" value="Submit">
            </form>
            <script src="../js/update_cat.js"></script>
        </div>

        {{!-- Delete Form --}}
        <div class="deleteform" style="display:none">
            <form id="delete-cat-form">
                <fieldset>
                    <legend><strong>Delete Existing Cat</strong></legend>
                    <p>Click Confirm to delete the following cat:</p>
                    <p style="display:inline"><b>Cat ID: </b> </p>
                    <p id="cat_id_delete" style="display:inline"></p>

                    <p style="display:inline"><b>Cat Name: </b> </p>
                    <p id="cat_name_delete" style="display:inline"></p>
                </fieldset>
                <input type="button" value="Confirm" onclick="deleteCat(document.getElementById('cat_id_delete').innerHTML)">
            </form>
            <script src="../js/delete_cat.js"></script>
        </div>
    </body>
</html>