<!-- 
    Citation for the following page:
    Date: 11/2/2023
    Based on sample HTML pages from:
    Source URL: https://canvas.oregonstate.edu/courses/1933532/assignments/9297505?module_item_id=23359472
 -->

<html>
<head>
    <title>Customers</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <h1>Customers</h1>
    <a href="/">Home</a> || <a href="/customers">Customers</a> || <a href="/cats">Cats</a> || <a href="/reservations">Reservations</a> || <a href="/services">Services</a> || <a href="/purchased_services">Purchased Services</a> || <a href="/room_types">Room Types</a>
    <p>&nbsp;</p>
    <div id="tablediv">
        <table id="customer-table" border="1" cellpadding="5">
            <caption style="text-align:left"><strong>Browse existing customers:</strong></caption>
            <thead>
                <tr>
                    <th>Customer ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Phone</th>
                    <th></th>
                </tr>
            </thead>
                <tbody>
                    <tr>
                    {{#each data}}
                    <tr data-value={{this.customer_id}}>
                        <td>{{this.customer_id}}</td>
                        <td>{{this.first_name}}</td>
                        <td>{{this.last_name}}</td>
                        <td>{{this.phone}}</td>
                        <td><a href="javascript:void(0);" onclick="moveText([{{this.customer_id}}, '{{this.first_name}}', '{{this.last_name}}', '{{this.phone}}'], ['customer_id_update', 'first_name_update', 'last_name_update', 'phone_update'])">Edit</a></td>
                    {{/each}}
                    </tr>
            </tbody>
            <script src="../js/move_text.js"></script>
        </table>
    </div>

    <p>&nbsp;</p>

    <div class="addform">
        <form id="add-customer-form" method="POST" action="/add-customer-form">
            <fieldset>
                <legend><strong>Add New Customer</strong></legend>
                <label for="first_name">First Name: </label>
                <input type="text" id="first_name" name="first_name">
                <label for="last_name_add">Last Name: </label>
                <input type="text" id="last_name" name="last_name">
                <label for="phone">Phone Number: </label>
                <input type="text" id="phone" name="phone"><br>
            </fieldset>
            <input type="submit" value="Submit">
            <input type="button" value="Reset">
          </form>
    </div>

    <div class="updateform" style="display:none">
        <form id="update-customer-form">
            <fieldset>
                <legend><strong>Update Existing Customer</strong></legend>
                <label for="customer_id_update">Customer ID: </label>
                <input type="text" id="customer_id_update" name="customer_id_update" value="1">
                <label for="first_name_update">First Name: </label>
                <input type="text" id="first_name_update" name="first_name_update" value="Cole">
                <label for="last_name_update">Last Name: </label>
                <input type="text" id="last_name_update" name="last_name_update" value="Spencer">
                <label for="phone_update">Phone Number:</label>
                <input type="text" id="phone_update" name="phone_update" value="8707651234"><br>
            </fieldset>
            <input type="submit" value="Submit">
            <input type="button" value="Reset">
          </form>
          <script src="../js/update_customer.js"></script>
    </div>

    <!-- <div class="deleteform">
        <form>
            <fieldset>
                <legend><strong>Delete Existing Customer</strong></legend>
                <p>Click Confirm to delete the following customer:</p>
                <label for="customer_id">Customer ID: 1</label>
                <label for="fname">First Name: </label>
                <input type="text" id="first_name" name="first_name" value="Cole">
                <label for="lname">Last Name: </label>
                <input type="text" id="last_name" name="last_name" value="Spencer">
                <input type="hidden" name="customer_id" value="1">
            </fieldset>
            <input type="submit" value="Confirm">
            <input type="button" value="Reset">
          </form>
    </div> -->



</body>
</html>