<!-- 
    Citations for the following page:
    
    Date: 11/2/2023
    Based on sample HTML pages from:
    Source URL: https://canvas.oregonstate.edu/courses/1933532/assignments/9297505?module_item_id=23359472


    Date: 11/6/23
    Based on code from Node set up guide from:
    Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app
//  -->

<html>
<head>
    <title>Customers</title>
</head>
<body>
    <h1>Customers</h1>
    <div class="table">
        <table id="customer-table" border="1" cellpadding="5">
            <caption style="text-align:left"><strong>Browse existing customers:</strong></caption>
            <thead>
                <tr>
                    <th>Customer ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Phone</th>
                    <th></th>
                </tr>
            </thead>
                <tbody>
                    {{#each data}}
                    <tr data-value={{this.customer_id}}>
                        <td>{{this.customer_id}}</td>
                        <td>{{this.first_name}}</td>
                        <td>{{this.last_name}}</td>
                        <td>{{this.phone}}</td>
                        <td><a href="javascript:void(0);" onclick="moveText([{{this.customer_id}}, '{{this.first_name}}', '{{this.last_name}}', '{{this.phone}}'], ['customer_id_update', 'first_name_update', 'last_name_update', 'phone_update'])">Edit</a></td>
                    {{/each}}
            </tbody>
            <script src="../js/move_text.js"></script>
        </table>
    </div>

    {{!-- Add Form --}}
    <div class="addform">
        <form id="add-customer-form" method="POST" action="/add-customer-form">
            <fieldset>
                <legend><strong>Add New Customer</strong></legend>
                <label for="first_name"><b>First Name: </b> </label>
                <input type="text" id="first_name" name="first_name" required>*required<br>
                
                <label for="last_name_add"><b>Last Name: </b> </label>
                <input type="text" id="last_name" name="last_name" required>*required<br>

                <label for="phone"><b>Phone Number: </b> </label>
                <input type="tel" id="phone" name="phone" pattern="[0-9]{10}" placeholder="1234567890" required>*required<br>
            </fieldset>
            <div class="buttons" align="center"> 
                <input type="submit" value="Submit">
            </div>
          </form>
    </div>

    {{!-- Update Form --}}
    <div class="updateform" style="display:none">
        <form id="update-customer-form">
            <fieldset>
                <legend><strong>Update Existing Customer</strong></legend>
                <p style="display:inline"><b>Customer ID: </b></p>
                <p id="customer_id_update" style="display:inline"></p><br>

                <label for="first_name_update"><b>First Name: </b> </label>
                <input type="text" id="first_name_update" name="first_name_update" required>*required<br>

                <label for="last_name_update"><b>Last Name: </b> </label>
                <input type="text" id="last_name_update" name="last_name_update" required>*required<br>

                <label for="phone_update"><b>Phone Number: </b></label>
                <input type="tel" id="phone_update" name="phone_update" pattern="[0-9]{10}" placeholder="1234567890" required>*required<br>
            </fieldset>
            <div class="buttons" align="center"> 
            <input type="submit" value="Submit">
            </div>
          </form>
          <script src="../js/update_customer.js"></script>
    </div>

</body>
</html>