<!-- 
    Citation for the following page:
    Date: 11/2/2023
    Based on sample HTML pages from:
    Source URL: https://canvas.oregonstate.edu/courses/1933532/assignments/9297505?module_item_id=23359472
 -->

<html>
    {{!-- jQuery for deleting rows --}}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <head>
        <title>Purchased Services</title>
    </head>

    <body>
        <h1>Purchased Services</h1>

        {{!-- Display table data --}}
        <div class="table">
            <table id="purchase-table" border="1" cellpadding="5">
                <caption style="text-align:left"><strong>Browse existing purchases:</strong></caption>
                <thead>
                    <tr>
                        <th>Purchase ID</th>
                        <th>Service Name</th>
                        <th>Reservation</th>
                        <th>Quantity</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    {{#each data}}
                    <tr data-value={{this.purchase_id}}>
                        <td>{{this.purchase_id}}</td>
                        <td>{{this.service_name}}</td>
                        <td>{{this.reservation}}</td>
                        <td>{{this.quantity}}</td>
                        <td><a href="javascript:void(0);" onclick="moveText([{{this.purchase_id}}, '{{this.service_name}}', '{{this.reservation}}', {{this.quantity}}], ['purchase_id_update', 'service_update', 'reservation_update', 'quantity_update'])">Edit</a></td>
                        <td><a href="javascript:void(0);" onclick="moveText([{{this.purchase_id}}, '{{this.service_name}}', '{{this.reservation}}', {{this.quantity}}], ['purchase_id_delete', 'service_delete', 'reservation_delete', 'quantity_delete'])">Delete</a></td>
                    </tr>
                    {{/each}}
                </tbody>
                <script src="../js/move_text.js"></script>
            </table>
        </div>
        
        {{!-- Add Form --}}
        <div class="addform">
            <form id="add-purchase-form" method="POST" action="/add-purchase-form">
                <fieldset>
                    <legend><strong>Add New Purchase</strong></legend>
                    <label for="service_id"><b>Service: </b> </label>
                    <select name="service_id" id="service_id" required>
                        <option value="" selected></option>
                        {{#each services}}
                        <option value="{{this.service_id}}">{{this.services_dropdown}}</option>
                        {{/each}}
                        </select>

                    <label for="res_id"><b>Reservation: </b> </label>
                    <select name="res_id" id="res_id" required>
                        <option value="" selected></option>
                        {{#each reservations}}
                        <option value="{{this.res_id}}">{{this.reservations_dropdown}}</option>
                        {{/each}}
                    </select>

                    <label for="quantity"><b>Quantity: </b> </label>
                    <input type="number" id="quantity" name="quantity" required>
                </fieldset>
                <input type="submit" value="Submit">
            </form>
        </div>

        {{!-- Update Form --}}
        <div class="updateform" style="display:none">
            <form id="update-purchase-form">
                <fieldset>
                    <legend><strong>Update Existing Purchase</strong></legend>
                    <p style="display:inline"><b>Purchase ID: </b> </p>
                    <p id="purchase_id_update" style="display:inline"></p>

                    <label for="service_update"><b>Service: </b> </label>
                    <select name="service_update" id="service_update" required>
                        <option value="" selected></option>
                        {{#each services}}
                        <option value="{{this.service_id}}">{{this.services_dropdown}}</option>
                        {{/each}}
                        </select>

                    <label for="reservation_update"><b>Reservation: </b> </label>
                    <select name="reservation_update" id="reservation_update" required>
                        <option value="" selected></option>
                        {{#each reservations}}
                        <option value="{{this.res_id}}">{{this.reservations_dropdown}}</option>
                        {{/each}}
                    </select>

                    <label for="quantity_update"><b>Quantity: </b> </label>
                    <input type="number" id="quantity_update" name="quantity_update" required>
                </fieldset>
                <input type="submit" value="Submit">
            </form>
            <script src="../js/update_purchase.js"></script>
        </div>

        {{!-- Delete Form --}}
        <div class="deleteform" style="display:none">
            <form id="delete-purchase-form">
                <fieldset>
                    <legend><strong>Delete Existing Purchase</strong></legend>
                    <p style="display:inline"><b>Purchase ID: </b></p>
                    <p id="purchase_id_delete" style="display:inline"></p>

                    <p style="display:inline"><b>Service: </b></p>
                    <p id="service_delete" style="display:inline"></p>
                    
                    <p style="display:inline"><b>Reservation: </b></p>
                    <p id="reservation_delete" style="display:inline"></p>

                    <label for="quantity_delete"><b>Quantity: </b></label>
                    <input type="number" id="quantity_delete" name="quantity_delete">
                </fieldset>
                <input type="button" value="Confirm" onclick="deletePurchase(document.getElementById('purchase_id_delete').innerHTML)">
            </form>
            <script src="../js/delete_purchase.js"></script>
        </div>


    </body>
</html>