<!-- 
    Citation for the following page:
    Date: 11/2/2023
    Based on sample HTML pages from:
    Source URL: https://canvas.oregonstate.edu/courses/1933532/assignments/9297505?module_item_id=23359472
 -->

<html>
    {{!-- jQuery for deleting rows --}}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <head>
        <title>Purchased Services</title>
        {{!-- <link href="style.css" rel="stylesheet" type="text/css" /> --}}
    </head>

    <body>
        <h1P>urchased Services</h1>
        <a href="/">Home</a> || <a href="/customers">Customers</a> || <a href="/cats">Cats</a> || <a href="/reservations">Reservations</a> || <a href="/services">Services</a> || <a href="/purchased_services">Purchased Services</a> || <a href="/room_types">Room Types</a>        
        <p>&nbsp;</p>
        {{!-- Display table data --}}
        <div class="table">
            <table id="purchase-table" border="1" cellpadding="5">
                <caption style="text-align:left"><strong>Browse existing cats:</strong></caption>
                <thead>
                    <tr>
                        <th>Purchase ID</th>
                        <th>Service Name</th>
                        <th>Reservation</th>
                        <th>Quantity</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    {{#each data}}
                    <tr data-value={{this.purchase_id}}>
                        <td>{{this.purchase_id}}</td>
                        <td>{{this.service_name}}</td>
                        <td>{{this.reservation}}</td>
                        <td>{{this.quantity}}</td>
                        <td><a href="javascript:void(0);" onclick="moveText([{{this.purchase_id}}, '{{this.service_name}}', '{{this.reservation}}', {{this.quantity}}], ['cat_id_update', 'customer_id_update', 'cat_name_update'])">Edit</a></td>
                        <td><a href="javascript:void(0);" onclick="moveText([{{this.cat_id}}, '{{this.cat_name}}'], ['cat_id_delete', 'cat_name_delete'])">Delete</a></td>
                    </tr>
                    {{/each}}
                </tbody>
                <script src="../js/move_text.js"></script>
            </table>
        </div>

        <p>&nbsp;</p>
        
        {{!-- Adding rows --}}
        <div class="addform">
            <form id="add-purchase-form" method="POST" action="/add-purchase-form">
                <fieldset>
                    <legend><strong>Add New Purchase</strong></legend>
                    <label for="service_id">Service: </label>
                    <select name="service_id" id="service_id">
                        <option value="" selected></option>
                        {{#each services}}
                        <option value="{{this.service_id}}">{{this.services_dropdown}}</option>
                        {{/each}}
                        </select>
                    <label for="res_id">Reservation: </label>
                    <select name="res_id" id="res_id">
                        <option value="" selected></option>
                        {{#each reservations}}
                        <option value="{{this.res_id}}">{{this.res_id}}. {{this.reservations_dropdown}}</option>
                        {{/each}}
                    </select>
                    <label for="quantity">Quantity: </label>
                    <input type="number" id="quantity" name="quantity">
                </fieldset>
                <input type="submit" value="Submit">
                <input type="button" value="Reset">
            </form>
        </div>

        {{!-- Updating Rows --}}
        <div class="updateform" style="display:none">
            <form id="update-purchase-form">
                <fieldset>
                    <legend><strong>Update Existing Purchase</strong></legend>
                    <label for="purchase_id_update">Purchase ID: </label>
                    <input type="text" id="purchase_id_update" name="purchase_id_update" value="1">

                    <label for="service_update">Service: </label>
                    <select name="service_update" id="service_update">
                        <option value="" selected></option>
                        {{#each services}}
                        <option value="{{this.service_id}}">{{this.services_dropdown}}</option>
                        {{/each}}
                        </select>
                    
                    <select name="reservation_update" id="reservation_update">
                        <option value="" selected></option>
                        {{#each reservations}}
                        <option value="{{this.res_id}}">{{this.res_id}}. {{this.reservations_dropdown}}</option>
                        {{/each}}
                    </select>

                    <label for="quantity_update">Quantity: </label>
                    <input type="number" id="quantity_update" name="quantity_update">
                </fieldset>
                <input type="submit" value="Submit">
                <input type="button" value="Reset">
            </form>
            <script src="../js/update_cat.js"></script>
        </div>

        {{!-- Deleting Rows --}}
        <div class="deleteform" style="display:none">
            <form id="delete-cat-form">
                <fieldset>
                    <legend><strong>Delete Existing Cat</strong></legend>
                    <p>Click Confirm to delete the following cat:</p>
                    <label for="cat_id_delete">Cat ID: </label>
                    <input type="text" id="cat_id_delete" name="cat_id_delete" value="1">
                    <label for="cat_name">Cat Name: </label>
                    <input type="text" id="cat_name_delete" name="cat_name_delete" value="Reginald">
                    <input type="hidden" name="cat_id" value="1">
                </fieldset>
                <input type="button" value="Confirm" onclick="deleteCat(document.getElementById('cat_id_delete').value)">
                <input type="button" value="Reset">
            </form>
            <script src="../js/delete_cat.js"></script>
        </div>


    </body>
</html>