<!-- 
    Citations for the following page:
    
    Date: 11/2/2023
    Based on sample HTML pages from:
    Source URL: https://canvas.oregonstate.edu/courses/1933532/assignments/9297505?module_item_id=23359472


    Date: 11/6/23
    Based on code from Node set up guide from:
    Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app
//  -->

<html>
    {{!-- jQuery for deleting rows --}}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<head>
    <title>Services</title>
</head>
<body>
    <h1>Services</h1>

    <div class="table">
        <table id="service-table" border="1" cellpadding="5">
            <caption style="text-align:left"><strong>Browse existing services:</strong></caption>
            <thead>
                <tr>
                    <th>Service ID</th>
                    <th>Service Name</th>
                    <th>Service Price</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
                <tbody>
                    {{#each data}}
                    <tr data-value={{this.service_id}}>
                        <td>{{this.service_id}}</td>
                        <td>{{this.service_name}}</td>
                        <td>{{this.service_price}}</td>
                        <td><a href="javascript:void(0);" onclick="moveText([{{this.service_id}}, '{{this.service_name}}', {{this.service_price}}], ['service_id_update', 'service_name_update', 'price_update'])">Edit</a></td>
                        <td><a href="javascript:void(0);" onclick="moveText([{{this.service_id}}, '{{this.service_name}}'], ['service_id_delete', 'service_name_delete'])">Delete</a></td>
                    {{/each}}
            </tbody>
            <script src="../js/move_text.js"></script>
        </table>
    </div>

    {{!-- Adding rows --}}
    <div class="addform">
        <form id="add-service-form" method="POST" action="/add-service-form">
            <fieldset>
                <legend><strong>Add New Service</strong></legend>
                <label for="service_name"><b>Service Name:  </b></label>
                <input type="text" id="service_name" name="service_name" required>*required<br>

                <label for="price"><b>Price: </b></label>
                <input type="text" id="price" name="price" pattern="[0-9]+([.]?[0-9]{2})?" placeholder="99.99" required>*required<br>
            </fieldset>
            <div class="buttons" align="center">   
                <input type="submit" value="Submit">
            </div>
          </form>
    </div>
    
    {{!-- Update Form --}}
    <div class="updateform" style="display:none" style="display:none">
        <form id="update-service-form">
            <fieldset>
                <legend><strong>Update Existing Service</strong></legend>
                <p style="display:inline"><b>Service ID: </b> </p>
                <p id="service_id_update" style="display:inline"></p><br>

                <label for="service_name"><b>Service Name:  </b></label>
                <input type="text" id="service_name_update" name="service_name_update" required>*required<br>

                <label for="price"><b>Price: </b></label>
                <input type="text" id="price_update" name="price_update" pattern="[0-9]+([.]?[0-9]{2})?" placeholder="99.99" required>*required<br>
            </fieldset>
            <div class="buttons" align="center">   
                <input type="submit" value="Submit">
            </div>
          </form>
          <script src="../js/update_service.js"></script>
    </div>

    {{!-- Deleting Rows --}}
    <div class="deleteform" style="display:none">
        <form id="delete-service-form">
            <fieldset>
                <legend><strong>Delete Existing Service</strong></legend>
                <p>Click Confirm to delete the following service:</p>
                <p style="display:inline"><b>Service ID: </b> </p>
                <p id="service_id_delete" style="display:inline"></p><br>

                <p style="display:inline"><b>Service Name: </b></p>
                <p id="service_name_delete" style="display:inline"></p><br>
            </fieldset>
            <div class="buttons" align="center">     
                <input type="button" value="Confirm" onclick="deleteService(document.getElementById('service_id_delete').innerHTML)">
            </div>   
        </form>
        <script src="../js/delete_service.js"></script>
    </div>

</body>
</html>